<div *ngIf="model" class="card" style="width: 30rem; text-align: left;">
    <div class="card-body">
        <h5 class="card-title">{{model.name}}'s details</h5>
        <br>
        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
        <p class="card-text">{{model.email}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Id</h6>
        <p class="card-text">{{model.userId}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Web Api Token</h6>
        <p class="card-text">{{model.token}}</p>
    </div>
</div>
